body {
  padding-top: 4em;
  background-color:
}

nav {
  padding: 0 20px;
}

aside {
  border-top-style: solid;
}

.componentWindow {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.notificationWindow {
  margin-right: auto;
  margin-left: auto;
  width: 25%;
}

.btn {
  float: right;
}

.row-select:hover {
  color: red;
}

.notificationMessage {
  border-radius: 5px;
  border: 1.5px solid #FF9709;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px;

}

.notificationSender {
  font-weight: bold;
}

.nav-logo {
  margin-top: 5px;
  margin-bottom: 5px;
}


@media (max-width: 1000px) {
  .notificationWindow {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
}
