body {
  padding-top: 70px;
}

nav {
  padding: 0 20px;
}

aside {
  border-top-style: solid;
}

.nav-logo {
  margin-top: 5px;
  margin-bottom: 5px;
}


li.nav-link {
  padding-top: 10px;
}

li.nav-name {
  padding-top: 10px;
  font-size: 18px;
}

li.dropdown {
  padding-top: 10px;
  font-size: 18px;
}

.componentWindow {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.notificationWindow {
  margin-right: auto;
  margin-left: auto;
  width: 25%;
  margin-bottom: 50px;
}

.notificationMessage {
  border-radius: 5px;
  border: 1.5px solid #FF9709;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px;

}

.notificationSender {
  font-weight: bold;
}

.btn {
  float: right;
}

.row-select:hover {
  color: #FF9709;
}


.sendMessage {
  padding-top: 20px;
}

.ratings {
  padding-top: 20px;
}

@media (max-width: 1000px) {
  .notificationWindow {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }


  .componentWindow {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

}

.glyphicon {
  padding-right: 5px;
}

@media (min-width: 600px) and (max-width: 975px) {

  body {
    padding-top: 120px;
  }


}

@media (max-width: 767px){

  body {
    padding-top: 350px;
  }

  .nav-logo {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  li.nav-link {
    padding-top: 0px;
    line-height: 10px;
  }

  li.nav-name {
    padding-top: 0px;
    font-size: 15px;
    line-height: 10px;
  }
}

.typeahead, .tt-query, .tt-hint {
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  font-size: 22px; /* Set input font size */
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 396px;
}
.typeahead {
  background-color: #FFFFFF;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 422px;
}
.tt-suggestion {
  font-size: 22px;  /* Set suggestion dropdown font size */
  padding: 3px 20px;
}
.tt-suggestion:hover {
  cursor: pointer;
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}

.unread {
  color: red;
}
