body {
  background-color:
}

nav {
  padding: 0 20px;
}

aside {
  border-top-style: solid;
}

.searchRequest {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  float: right;
}

.row-select:hover {
  color: red;
}

.notificationMessage {
  border-radius: 10px;
  border-style: solid;
  margin-top: 10px;
}

.notificationSender {
  font-weight: bold;
}