body {
  background-color:
}

nav {
  padding: 0 20px;
}

aside {
  border-top-style: solid;
}

.componentWindow {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.notificationWindow {
  margin-right: auto;
  margin-left: auto;
}

.btn {
  float: right;
}

.row-select:hover {
  color: red;
}

.notificationMessage {
  border-radius: 10px;
  border: 1px solid;
  margin-top: 20px;
  margin-right: 20px;

}

.notificationSender {
  font-weight: bold;
}